<div id="createCommentTrigger" class="col-xs-12 col-sm-6 new_post_input" contenteditable="true">Add comment...</div>
<div id="createCommentDiv" class="col-xs-12 post collapse">
    <form id="createCommentForm" class="form-horizontal" role="form">
        <div class="form-group">
            <div class="col-xs-12">
                <textarea id="createCommentText" class="form-control" rows="5" autofocus></textarea>
            </div>
        </div>
        <div class="form-group">
            <label class="col-xs-2 control-label">Share with:</label>
            <div class="col-xs-10">
                <select id="permissions" multiple></select>
            </div>
        </div>
        <div class="form-group">
            <div class="btn-group col-xs-12">
                <button id="submitButton" type="submit" class="btn">Submit</button>
            </div>
        </div>
    </form>
</div>