<div class="row">
    <div class="col-xs-12">
        <form id="editPostForm" class="form-horizontal" role="form">
            <div class="form-group">
                <div class="col-xs-12">
                    <textarea id="editPostText" class="form-control" rows="5" autofocus><% if (typeof text !== "undefined") { %><%- text %><% } %></textarea>
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-12">
                    <div class="editImages"></div>
                </div>
                <div class="col-xs-12">
                    <div class="table-responsive">
                        <table class="table table-striped table-condensed border-1">
                            <tbody class="editFiles"></tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-12 dropzoneRegion">
                </div>
            </div>


            <div class="form-group">
                <label class="col-xs-2 control-label text-left">Share with:</label>
                <div class="col-xs-10">
                    <select class="form-control" id="permissions" multiple></select>
                </div>
            </div>

            <div class="form-group">
                <div class="col-xs-12">
                    <img class="loading-img hide" src="img/loading.gif">
                </div>
                <div class="btn-group col-xs-12">
                    <button id="postEditButton" type="submit" class="btn btn-primary">Submit</button>
                    <button id="postEditCancelButton" type="button" class="btn btn-default">Cancel</button>
                </div>
            </div>
        </form>
    </div>
</div>