<div class="friend">
    <div  class="clearfix">
        <div id="friendImg" class="pointer-hand cleafix" >
            <div class="pull-left">
                <img class="friend-icon" src="<%- pictureUrl %>">
            </div>
            <div class="pull-left">
                <div>
                    <strong><%- name %></strong>
                </div>
                <div>
                    <code>+<%= score %></code>
                </div>
            </div>
        </div>
        <div class="pull-right">
            <% if (invite == false) { %>
                <span id="chatButton" class="glyphicon glyphicon-comment pointer-hand"></span>
            <% } %>
        </div>
    </div>
    <% if (invite == true) { %>
        <div class="alert-sm alert-warning">Invited</div>
    <% } %>
</div>