<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title"><%= account %></h4>
    </div>
    <div style="padding: 10px; position: relative;" class="">
        <div class="img_container">
            <img src="<%= pictureUrl %>" alt="..." style="width: 130px; height: 100px;" class="img-thumbnail">
            <button id="editFriend" type="button" class="btn btn-default btn-sm friend_edit_button">
                <span class="glyphicon glyphicon-edit"></span>
            </button>
        </div>
    </div>
</div>