<div class="row bottom-5">
    <div class="col-xs-12">
        <div class="thumbnail">
            <div style="font-size: 18px">
                <%- name %>
            </div>
            <div>
                <code><%- id %></code>
            </div>
            <div >
                <img class="img-responsive" style="display:block; margin:auto; max-height: 120px" id="friendImg" src="<%- pictureUrl %>">
                <div class="caption">
                    <%- intro %>
                </div>
            </div>
            <button type="button" id="previewInviteButton" class="btn btn-sm btn-default">Invite</button>
        </div>
    </div>
</div>
<div class="row">
</div>