<div class="gridItem pointer-hand border-file">
    <div class="clearfix">
        <div class="pull-left" >
            <img class="downloadImage" src="img/download.png">
            <img class="downloadLoadingImage hide" style="width: 32px; height: 32px" src="img/loading.gif">
            <img class="downloadDoneImage hide" src="img/downloaded.png">
        </div>
        <div class="small pull-right">Size: 5.3M</div>
    </div>
    <div class="text-center word-wrap" style="font-size: 16px; position: relative; top: 30%; transform: translateY(-50%);">
        <%- filename %>
    </div>
</div>