<div class="row">
    <div class="col-xs-5 col-sm-2">
        <div class="bottom-5" style="max-width: 80px">
            <img class="img-responsive post-thumbnail" src="<%- poster.get('pictureUrl') %>" >
        </div>
    </div>
    <div class="col-xs-5 col-sm-8">
        <strong><%- poster.get('name') %></strong>
        <div class="small"><%- prettyTime() %></div>
        <% if (myPost == true) { %>
        <div>
            <img src="<%= permissionsIcon() %>">
        </div>
        <% } %>
    </div>
    <div class="pull-right col-xs-1">
        <% if (myPost == true) { %>
        <div class="dropdown pull-right">
            <button class="btn btn-default dropdown-toggle" type="button" id="postDropdown" data-toggle="dropdown">
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="postDropdown">
                <li role="presentation"><a id="deletePost" role="menuitem" tabindex="-1" href="#">Delete</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Permissions</a></li>
            </ul>
        </div>
        <% } %>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <div class="post-container">
            <% if (typeof resizedImageData !== "undefined" && resizedImageData != "pending") { %>
                <div class="pull-left">
                    <img id ="resizedImage" src='<%- resizedImageData %>' class="img-thumbnail">
                </div>
            <% } %>
            <div class="post-text">
                <%= formatText() %>
            </div>
        </div>
    </div>
</div>
