<td class="downloadable">
    <img class="downloadImage <% if (typeof data !== 'undefined') { %> hide <% } %>" src="img/download.png">
    <img class="downloadLoadingImage hide" style="width: 32px; height: 32px" src="img/loading.gif">
    <img class="downloadDoneImage <% if (typeof data === 'undefined') { %> hide <% } %>" src="img/downloaded.png">
</td>

<td style="width: 90%"class="word-wrap downloadable <% if (typeof deleted !== 'undefined') { %> strike <% } %>">
    <%- filename %>
</td>
   
<% if (typeof size !== 'undefined') { %>
    <td class="downloadable">
        <%- getSize() %>
    </td>
<% } %>
   
<% if (isRemovable()) { %>
    <td>
        <% if (typeof deleted !== "undefined") { %>
            <span class="restoreFile align-right remove-icon-black glyphicon glyphicon-repeat"></span>
        <% } else { %>
            <span class="removeFile align-right remove-icon-black glyphicon glyphicon-trash"></span>
        <% } %>
    </td>
<% } %>
