<div class="imageHolder" style="height: 100%; width: 100%">
<% if (isRemovable()) { %>
    <% if (typeof deleted !== "undefined") { %>
        <span class="restoreImage pull-right remove-icon glyphicon glyphicon-repeat"></span>
    <% } else { %>
        <span class="removeImage pull-right remove-icon glyphicon glyphicon-trash"></span>
    <% } %>
<% } %>
<% if (typeof errors !== "undefined") { %>
    <div class="picture-error"><%- errors %></div>
<% } %>
<% if (typeof caption !== "undefined") { %>
    <div class="picture-text"><%- caption %></div>
<% } %>
<% if (typeof videoUrl !== "undefined") { %>
    <span class="glyphicon glyphicon-play-circle video-icon" aria-hidden="true"></span>
<% } %>
</div>
