<div class="row">
    <div class="col-lg-9 col-md-11 col-xs-12">
        <h3>
            Public Data
                <% if (profile.has("userId")) { %>
                <small>For Encryb ID <%- profile.get("userId") %></small>
                <% } %>
        </h3>
    </div>
</div>
<div class="row top-10">
    <div class="col-lg-6 col-md-7 col-sm-10 col-xs-12">
        <div class="">
            <form class="form" id="profileForm">
                <div class="row">
                    <div class="col-xs-12 col-sm-10">
                        <div class="form-group top-15">
                            <label class="control-label" for="name">My Name</label>
                            <input id="name" name="name"
                                   placeholder="Hi, who are you?"
                                   value="<%- profile.get('name') %>" class="form-control" type="text">
                        </div>
                        <div class="form-group top-15">
                            <label class="control-label" for="name">Introduction</label>
                            <textarea id="intro" name="name"
                                      placeholder="A quick introduction to avoid confusion, please."
                                      rows="4" class="form-control"><%- profile.escape("intro") %></textarea>
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="col-xs-12 col-sm-10">
                        <label>
                            Profile Picture
                        </label>

                        <div class="pointer-hand">
                            <label for="pictureInput">
                                <img class="pointer-hand thumbnail" id="profilePicture" src="<%- profile.escape('pictureUrl') %>" >
                            </label>
                            <input id="pictureInput" class="hide" type="file"/>
                        </div>
                        <div id="newProfile" class="hide">
                            <div id="newProfilePicture" class="img-responsive">
                            </div>
                            <button id="cropPictureButton" class="btn btn-default top-10">
                                Crop
                            </button>
                        </div>
                    </div>
                </div>

                <div class="row top-10">
                    <div class="col-xs-12 col-sm-10">
                        <label for="currentKey">
                            Public Key
                        </label>
                        <div id="currentKey" class="alert word-wrap" role="alert">
                            <small><%- publicKey %></small>
                        </div>
                    </div>
                </div>

                <% if(profile.has("userId") && (profile.get('publicKey') != publicKey)) {%>
                    <div class="row">
                        <div class="col-xs-12 col-sm-10 alert alert-danger" role="alert">
                            <label for="publishedKey">
                                Local key does not match the Cloud key.
                            </label>
                            <div id="publishedKey" class="word-wrap">
                                <small><%- publicKey %></small>
                            </div>
                            <div class="top-10">
                                <button id="editKey" class="btn btn-default">
                                    <span class="glyphicon glyphicon-edit"></span>
                                    Change Encryption Key
                                </button>
                                <span>or press Update to sync to cloud</span>
                            </div>
                        </div>
                    </div>
                <% } %>
            </form>
        </div>
    </div>
</div>
<% if (!profile.has("userId")) { %>
<div class="row top-15">
    <div class="col-xs-12">
        <img class="loading-img hide" src="img/loading.gif">
        <button id="createButton" class="btn btn-primary btn-lg">
            Create Encryb Account
        </button>
    </div>
</div>
<% } else { %>
<div class="row top-15">
    <div class="col-lg-9 col-md-11 col-xs-12">
        <img class="loading-img hide" src="img/loading.gif">
        <button id="updateButton" class="btn btn-success btn-lg <% if (profile.get('name').length == 0) { print('disabled'); } %>">Update</button>
        <button id="cancelButton" class="btn btn-warning btn-lg">Cancel</button>
    </div>
</div>
<% }%>