<div class="row">
    <div  class="col-xs-12 hidden-sm hidden-md hidden-lg">
        <span id="expandSettings" style="font-size: 2.5rem" class="glyphicon glyphicon-expand bottom-5 cent"></span>
    </div>
</div>

<div class="row">
    <!--
    <div class="pull-right"><a href="#" id="saveManifests" class="btn btn-default" role="button">Save Manifests</a></div>
    -->
    <div id="settingsColumn" class="hidden-xs col-xs-4 col-sm-2 col-md-2 col-lg-2">
        <div class="panel-group" id="accordion">
            <!-- Settings -->
            <div class="panel panel-default">
                <div class="panel-heading padding-5">
                    <h4 class="panel-title text-center">
                        <a href="#settings">
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-11 col-lg-6 vcenter">
                                    <span style="font-size: 30px; padding: 8px 0px;" class="glyphicon glyphicon-wrench"></span>
                                </div><!--
                                --><div class="hidden-xs hidden-sm col-md-11 col-lg-6 vcenter">
                                    Settings
                                </div>
                            </div>
                        </a>
                    </h4>
                </div>
            </div>
            <!-- Cribs -->
            <div class="panel panel-default">
                <div class="panel-heading padding-5">
                    <h4 class="panel-title text-center">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseCribs">
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-11 col-lg-6 vcenter">
                                   <img class="img-responsive center-block" src="img/cribs.png">
                                </div><!--
                                --><div class="hidden-xs hidden-sm col-md-11 col-lg-6 vcenter">
                                    Cribs
                                </div>
                            </div>
                        </a>
                    </h4>
                </div>
                <div id="collapseCribs" class="panel-collapse collapse">
                    <div class="panel-body padding-5">
                        <div class="bottom-5 text-center add-icon" style="" id="addCribs">
                            <span class="glyphicon glyphicon-plus">
                            </span>
                        </div>
                        <div id="cribs"></div>
                    </div>
                </div>
            </div>
            <!-- Friends -->
            <div class="panel panel-default">
                <div class="panel-heading padding-5">
                    <h4 class="panel-title text-center">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseFriends">
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-11 col-lg-6 vcenter">
                                    <img class="img-responsive center-block" src="img/friends.png">
                                </div><!--
                                --><div class="hidden-xs hidden-sm col-md-11 col-lg-6 vcenter">
                                    Friends
                                </div>
                            </div>
                        </a>
                    </h4>
                </div>
                <div id="collapseFriends" class="panel-collapse collapse">
                    <div class="panel-body padding-5">
                        <div class="bottom-5 text-center add-icon" id="addFriend">
                            <span class="glyphicon glyphicon-plus">
                            </span>
                        </div>
                        <div id="friends"></div>
                    </div>
                </div>
            </div>
        </div>
        <!--
        <img src="img/friends.png">Friends <a href="#" id="addFriend" class="btn btn-default" role="button">Add</a>
-->
    </div>
    <div id="postsColumn" class="col-xs-12 col-sm-10 col-md-8 col-lg-7">
        <div class="row">
            <div id="friendsDetails"></div>
        </div>
        <div id="createPost"></div>
        <div id="posts"></div>
    </div>
</div>

