<div class="row">
    <div  class="col-xs-12 hidden-sm hidden-md hidden-lg">
        <span id="expandSettings" style="font-size: 2.5rem" class="glyphicon glyphicon-expand bottom-5 cent"></span>
    </div>
</div>

<div class="row">
    <div id="settingsColumn" class="hidden-xs col-xs-4 col-sm-2 col-md-2 col-lg-2">
        <div class="panel-group" id="accordion">
           <!-- Invites -->
            <div id="invitePanel" class="hide panel panel-default">
                <div class="panel-heading padding-5">
                    <h4 class="panel-title text-center">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseInvites">
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-11 col-lg-6 vcenter">
                                    <img class="img-responsive center-block" src="img/invites.png">
                                </div><!--
                                --><div class="hidden-xs hidden-sm col-md-11 col-lg-6 vcenter">
                                    Invites
                                </div>
                            </div>
                        </a>
                    </h4>
                </div>
                <div id="collapseInvites" class="panel-collapse collapse">
                    <div class="panel-body padding-5">
                        <div id="invites" class="invites"></div>
                    </div>
                </div>
            </div>
            <!-- Friends -->
            <div id="friendsPanel" class="panel panel-default">
                <div class="panel-heading padding-5">
                    <h4 class="panel-title text-center">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseFriends">
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-11 col-lg-6 vcenter">
                                    <img class="img-responsive center-block" src="img/friends.png">
                                </div><!--
                                --><div class="hidden-xs hidden-sm col-md-11 col-lg-6 vcenter">
                                    Friends
                                </div>
                            </div>
                        </a>
                    </h4>
                </div>
                <div id="collapseFriends" class="panel-collapse collapse">
                    <div class="panel-body padding-5">
                        <a data-toggle="collapse" href="#addFriend">
                            <div class="bottom-5 text-center add-icon">
                                <span class="glyphicon glyphicon-plus">
                                </span>
                            </div>
                        </a>
                        <div id="addFriend" class="collapse">
                            <div class="bottom-5">
                                <label for="inviteCode">Friend Invite</label>
                                <input type="text" class="form-control" id="inviteCode" placeholder="Enter Code">
                            </div>
                            <div class="bottom-5">
                                <button class="btn btn-default btn-sm" type="button" id="inviteButton">
                                    Find
                                </button>
                            </div>
                            <div id="invitePreview"></div>
                        </div>


                        <div id="friends"></div>
                    </div>
                </div>
            </div>
            <!-- Cribs -->
            <div class="panel panel-default">
                <div class="panel-heading padding-5">
                    <h4 class="panel-title text-center">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseCribs">
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-11 col-lg-6 vcenter">
                                    <img class="img-responsive center-block" src="img/cribs.png">
                                </div><!--
                                --><div class="hidden-xs hidden-sm col-md-11 col-lg-6 vcenter">
                                Cribs
                            </div>
                            </div>
                        </a>
                    </h4>
                </div>
                <div id="collapseCribs" class="panel-collapse collapse">
                    <div class="panel-body padding-5">
                        <div class="bottom-5 text-center add-icon" style="" id="addCribs">
                            <span class="glyphicon glyphicon-plus">
                            </span>
                        </div>
                        <div id="cribs"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="postsColumn" class="col-xs-12 col-sm-10 col-md-8 col-lg-7">
        <div id="friendsDetails"></div>
        <div id="createPost"></div>
        <div id="posts"></div>
    </div>
</div>

